[user]
	email = inhaeden@gmail.com
	name = Mousstoh
[alias]
	st = status
        ck = checkout
        br = branch
        pr = pull --rebase
        rbi = rebase -i
        patch = commit --amend --no-edit
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
        plog = log --pretty=oneline --abbrev-commit --graph
        fixon = "!f() { git commit --fixup=\"$1\"; git rebase -i --autosquash \"$1\"~1;}; f"
        #wip
        delmerged = !git branch --merged | grep -v develop | xargs git branch -d
	undo-commit = reset HEAD~
[credential]
	helper = cache
